
.home-avatar {
    width: 160px;

    display: block;
    margin: 0 auto 40px;

    -moz-border-radius: 80px; /* Firefox */
    -webkit-border-radius: 80px; /* Safari 和 Chrome */
    border-radius: 80px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */

    /*-moz-box-shadow: 3px 3px 5px #fff; *//* Firefox */
    /*-webkit-box-shadow: 3px 3px 5px #fff; *//* Safari 和 Chrome */
    /*box-shadow: 3px 3px 5px #fff; *//* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */

    behavior: url(ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
}



.intro-header {
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 150px 0;
    }
}
.intro-header .site-heading,
.intro-header .page-heading {
    text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 80px;
    }
}
.intro-header .post-heading h1 {
    font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
}
.intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
}
.intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}
.intro-header .post-heading .meta a {
    color: white;
}
@media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
        font-size: 45px;
    }
    .intro-header .post-heading .subheading {
        font-size: 30px;
    }
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}

.navbar-top {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
}

.article-link {
    color: #393939;
}

.article-link:hover {
    color: #009933;
    text-decoration: none;
}

/*Editor*/

#article-editor-box {
    padding: 75px 0;
}

html, body, #editor {
    margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

textarea, #editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
}

textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}

code {
    color: #f66;
}

.quote {
    padding: 10px;
    background: #efefef;
    font-size: 13px;
}